<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

        <div class="form-group">
            <label class="col-md-4">Student Roll</label>
            <input type="number" class="form-control" formControlName="roll" #roll [(ngModel)] = "student.roll" />
          </div>
          <div *ngIf="angForm.controls['roll'].invalid && (angForm.controls['roll'].dirty || angForm.controls['roll'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['roll'].errors.required">
              Student Roll is required.
            </div>
          </div>

          <div class="form-group">
              <label class="col-md-4">Student Name</label>
              <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "student.name"/>
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['name'].errors.required">
                Student Name is required.
              </div>
            </div>



      <div class="form-group">
          <label class="col-md-4">Student Class</label>
          <input type="number" class="form-control" formControlName="student_class" #student_class [(ngModel)] = "student.student_class"/>
        </div>
        <div *ngIf="angForm.controls['student_class'].invalid && (angForm.controls['student_class'].dirty || angForm.controls['student_class'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['student_class'].errors.required">
            Student Class is required.
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-4">Date of Birth </label>
          <input type="date" class="form-control" formControlName="date_of_birth" #date_of_birth [(ngModel)] = "student.date_of_birth"/>
        </div>
        <div *ngIf="angForm.controls['date_of_birth'].invalid && (angForm.controls['date_of_birth'].dirty || angForm.controls['date_of_birth'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['date_of_birth'].errors.required">
            Date_of_birth is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Address </label>
          <input type="text" class="form-control" formControlName="address" #address [(ngModel)] = "student.address"/>
        </div>
        <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['address'].errors.required">
            Address is required.
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-4">Email Address </label>
          <input type="email" class="form-control" formControlName="email_address" #email_address [(ngModel)] = "student.email_address"/>
        </div>
        <div *ngIf="angForm.controls['email_address'].invalid && (angForm.controls['email_address'].dirty || angForm.controls['email_address'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email_address'].errors.required">
            Email Address is required.
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-4">Phone Number </label>
          <input type="tel" class="form-control" formControlName="phone_number" #phone_number [(ngModel)] = "student.phone_number"/>
        </div>
        <div *ngIf="angForm.controls['phone_number'].invalid && (angForm.controls['phone_number'].dirty || angForm.controls['phone_number'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['phone_number'].errors.required">
            Phone is required.
          </div>
        </div>

      
      
      
      <div class="form-group">
        <button (click)="updateBusiness(roll.value, name.value, student_class.value, date_of_birth.value, address.value, phone_number.value, email_address.value)"
        [disabled]="angForm.invalid" 
        class="btn btn-primary">Update Student</button>
      </div>
    </form>
  </div>
</div>